<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Reuse only the v1.0 arm and parallel-link gripper macro libraries. -->
  <xacro:include filename="$(find openarm_description)/assets/robot/openarm_v1.0/urdf/arm/openarm_arm.xacro"/>
  <xacro:include filename="$(find openarm_description)/assets/robot/openarm_v1.0/urdf/ee/openarm_ee_macro.xacro"/>
  <xacro:include filename="$(find openarm_description)/assets/robot/openarm_v1.0/urdf/ee/ee_dispatcher.xacro"/>

  <xacro:macro name="humanoid_openarm_v10_arms" params="left_mount_link right_mount_link">
    <xacro:property
      name="openarm_arm_config_root"
      value="$(find openarm_description)/assets/robot/openarm_v1.0/config/arm"/>
    <xacro:property
      name="openarm_ee_config_root"
      value="$(find openarm_description)/assets/end_effector/parallel_link/config"/>

    <xacro:property name="openarm_joint_limits" value="${xacro.load_yaml(openarm_arm_config_root + '/joint_limits.yaml')}"/>
    <xacro:property name="openarm_inertials" value="${xacro.load_yaml(openarm_arm_config_root + '/inertials.yaml')}"/>
    <xacro:property name="openarm_kinematics" value="${xacro.load_yaml(openarm_arm_config_root + '/kinematics.yaml')}"/>
    <xacro:property name="openarm_kinematics_link" value="${xacro.load_yaml(openarm_arm_config_root + '/kinematics_link.yaml')}"/>
    <xacro:property name="openarm_kinematics_offset" value="${xacro.load_yaml(openarm_arm_config_root + '/kinematics_offset.yaml')}"/>

    <xacro:property name="openarm_ee_inertials" value="${xacro.load_yaml(openarm_ee_config_root + '/inertials.yaml')}"/>
    <xacro:property name="openarm_ee_kinematics" value="${xacro.load_yaml(openarm_ee_config_root + '/kinematics.yaml')}"/>
    <xacro:property name="openarm_ee_kinematics_link" value="${xacro.load_yaml(openarm_ee_config_root + '/kinematics_link.yaml')}"/>
    <xacro:property name="openarm_ee_joint_limits" value="${xacro.load_yaml(openarm_ee_config_root + '/joint_limits.yaml')}"/>

    <!-- Generate each seven-axis arm without OpenArm body or an implicit parent joint. -->
    <xacro:openarm_arm
      arm_type="v10"
      arm_prefix="left_"
      no_prefix="false"
      description_pkg="openarm_description"
      connected_to=""
      joint_limits="${openarm_joint_limits}"
      inertials="${openarm_inertials}"
      kinematics="${openarm_kinematics}"
      kinematics_link="${openarm_kinematics_link}"
      kinematics_offset="${openarm_kinematics_offset}"/>

    <xacro:openarm_arm
      arm_type="v10"
      arm_prefix="right_"
      no_prefix="false"
      description_pkg="openarm_description"
      connected_to=""
      joint_limits="${openarm_joint_limits}"
      inertials="${openarm_inertials}"
      kinematics="${openarm_kinematics}"
      kinematics_link="${openarm_kinematics_link}"
      kinematics_offset="${openarm_kinematics_offset}"/>

    <!-- Mount frames are intentionally defined to coincide with each OpenArm link0 frame. -->
    <joint name="left_arm_mount_to_openarm_joint" type="fixed">
      <parent link="${left_mount_link}"/>
      <child link="openarm_left_link0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="right_arm_mount_to_openarm_joint" type="fixed">
      <parent link="${right_mount_link}"/>
      <child link="openarm_right_link0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:openarm_ee
      ee_type="parallel_link"
      connected_to="openarm_left_link7"
      arm_type="v10"
      arm_prefix="left_"
      ee_kinematics="${openarm_ee_kinematics}"
      ee_kinematics_link="${openarm_ee_kinematics_link}"
      ee_inertials="${openarm_ee_inertials}"
      ee_joints_limits="${openarm_ee_joint_limits}"
      description_pkg="openarm_description"/>

    <xacro:openarm_ee
      ee_type="parallel_link"
      connected_to="openarm_right_link7"
      arm_type="v10"
      arm_prefix="right_"
      ee_kinematics="${openarm_ee_kinematics}"
      ee_kinematics_link="${openarm_ee_kinematics_link}"
      ee_inertials="${openarm_ee_inertials}"
      ee_joints_limits="${openarm_ee_joint_limits}"
      description_pkg="openarm_description"/>
  </xacro:macro>

</robot>
